body{
    height: 100vh;
    background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

}
.container{
    height: 100%;
    /* background-color: #FF9A8B; */
/* background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%); */

}
.row{
    width: 70%;
    /* height: 100%; */
    border: 1px solid black;
    margin: auto;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    background-color: aquamarine;
    box-shadow: 10px 10px 10px 10px gray;
    
}
header{
    /* background-color: rgb(19, 216, 150); */
    background-color: #FFE53B;
background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

    width: 70%;
    margin: auto;
    text-align: center;
    padding: 20px 0 ;
    color: aliceblue;
    margin-bottom: 20px;
    color: black;
}
img{
   height: 200px;
   width: 200px; 
}
button{
    height: 20px;
    width: 100px;
    background-color: rgb(167, 209, 186);
    border-radius: 10%;
}
button:hover{
    background-color: aqua;
    color: antiquewhite;
    border-color: aliceblue;
}